---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    with open("university_towns.txt") as q:
        df=q.readlines()
    df=[a.rstrip() for a in df]
    list3=[]
    for i in df:
        if i[-6:] == '[edit]':
            list1=i[:-6]
        elif '(' in i:
            list2=i[:i.index('(')-1]
            list3.append([list1,list2])
        else:
            list2=i
            list3.append([list1,list2])
    df1 = pd.DataFrame(list3, columns=['State','RegionName'])
        
   
    
    return df1
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [5]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    df=pd.read_excel('gdplev.xls',skiprows=200)
    df=df.rename(columns={'1995q1':'quater',7545.3:'GDP'})
    df=df[['quater','GDP']]
    for i in range(0,df.shape[0]-1):
        if(df.iloc[i-2][1]>df.iloc[i-1][1])and(df.iloc[i-1][1]>df.iloc[i][1]):
            a=df.iloc[i-3][0]
    
    
    return a
get_recession_start()

'2008q3'

In [6]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    df=pd.read_excel('gdplev.xls',skiprows=200)
    df=df.rename(columns={'1995q1':'quater',7545.3:'GDP'})
    df=df[['quater','GDP']]
    for i in range(4,len(df)):
        if (df.iloc[i-4][1]>df.iloc[i-3][1]) and (df.iloc[i-3][1]>df.iloc[i-2][1]) and (df.iloc[i-2][1]<df.iloc[i-1][1]) and (df.iloc[i-1][1]<df.iloc[i][1]):
            a=df.iloc[i][0]
       
    return a
get_recession_end()

'2009q4'

In [7]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df=pd.read_excel('gdplev.xls',skiprows=200)
    df=df.rename(columns={'1995q1':'quater',7545.3:'GDP'})
    df=df[['quater','GDP']]
    for i in range(4,len(df)):
        if (df.iloc[i-4][1]>df.iloc[i-3][1]) and (df.iloc[i-3][1]>df.iloc[i-2][1]) and (df.iloc[i-2][1]<df.iloc[i-1][1]) and (df.iloc[i-1][1]<df.iloc[i][1]):
            a=df.iloc[i-2][0]
       
    return a
get_recession_bottom()

'2009q2'

In [26]:
#df=pd.read_csv('City_Zhvi_AllHomes.csv')
#df['State'].replace('states',inplace=True)
#df= df.set_index(["State","RegionName"])
#df=df.loc[:,"2000-01":"2016-08"]
#if col.endswith(("01","02","03")):
       #     a=col[:4]+"q1"
      #  elif col.endswith(("04","05","06")):
     #       a=col[:4]+"q2"
    #    elif col.endswith(("07","08","09")):
   #         a=col[:4]+"q3"
  #      else:
 #           a=col[:4]+"q4"
#df

In [8]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    month_to_qtr = {'01':'q1','02':'q1','03':'q1','04':'q2','05':'q2','06':'q2',
                    '07':'q3','08':'q3','09':'q3','10':'q4','11':'q4','12':'q4'}
    df = pd.read_csv('City_Zhvi_AllHomes.csv')
    df['State'] = df['State'].replace(states)
    df = (df.drop(['Metro','CountyName','SizeRank'], axis = 1)
            .set_index(['RegionID','State','RegionName'])
            .stack()
            .reset_index()
            .rename(columns={'level_3':'Year-Mo',
                                          0:'MedianPrice'}))
    df['YearQtr'] = df['Year-Mo'].str[0:4] + df['Year-Mo'].str[5:].map(month_to_qtr)
        
    df = df[df['YearQtr'] >= '2000q1']
    df = (df.drop(['Year-Mo'], axis = 1)
             .groupby(['RegionID','State','RegionName','YearQtr'])
             .mean()
             .unstack())
    df.index = df.index.droplevel()
    df.columns = df.columns.droplevel()    
    del df.columns.name
    return df
convert_housing_data_to_quarters()

                                              2000q1         2000q2  \
State          RegionName
New Jersey     Absecon                 113500.000000  117633.333333
Maryland       Accokeek                          NaN            NaN
Oklahoma       Ada                               NaN            NaN
Georgia        Adairsville              85966.666667   87300.000000
Tennessee      Adams                   109833.333333  111100.000000
Illinois       Addison                 164600.000000  168366.666667
South Carolina Aiken                             NaN            NaN
Michigan       Albion                   62500.000000   63533.333333
California     Alta                    145933.333333  151966.666667
Illinois       Andalusia                79133.333333   80966.666667
South Carolina Anderson                 81633.333333   84833.333333
Tennessee      Andersonville            81866.666667   82833.333333
Indiana        Angola                  114266.666667  113833.333333
Arizona        Anthem                  190566.666667  198000.000000
Florida        Anthony                  81933.333333   86333.333333
Minnesota      Apple Valley            158366.666667  163700.000000
Pennsylvania   Ardmore                 154233.333333  155466.666667
New Jersey     Asbury Park                       NaN            NaN
Massachusetts  Ashburnham              135466.666667  138633.333333
               Ashland                 231366.666667  241900.000000
Pennsylvania   Ashley                            NaN            NaN
California     Avalon                            NaN            NaN
               Avenal                   58500.000000   59933.333333
Colorado       Avon                    371833.333333  408733.333333
California     Bakersfield             105966.666667  107533.333333
Florida        Bal Harbour             251133.333333  266466.666667
               Baldwin                           NaN            NaN
Maryland       Baldwin                 241600.000000  244833.333333
New York       Ballston Spa             84500.000000   86066.666667
Maryland       Baltimore                59666.666667   59500.000000
...                                              ...            ...
New Jersey     Frelinghuysen Township  218000.000000  227200.000000
New York       Town of Corinth          73400.000000   74933.333333
New Hampshire  Town of Plymouth         82100.000000   84066.666667
Vermont        Derby                             NaN            NaN
Pennsylvania   Greene Township         112000.000000  110966.666667
Wisconsin      Town of Windsor         161000.000000  163533.333333
Pennsylvania   Douglass Township       118000.000000  116600.000000
New York       Westmoreland             76933.333333   77500.000000
               Town of Moravia                   NaN            NaN
               Oswegatchie                       NaN            NaN
Pennsylvania   Newport Township         58300.000000   57900.000000
               Penn Township           103500.000000  106266.666667
New York       Pamelia                  70633.333333   71800.000000
Wisconsin      Newark                  117933.333333  118733.333333
Pennsylvania   East Vincent Township   193100.000000  197466.666667
Michigan       Green Township          111966.666667  116000.000000
               Rutland Township        128166.666667  129800.000000
               Portsmouth Township      89500.000000   92066.666667
               Allendale Township      134833.333333  137366.666667
Pennsylvania   Penn Township           135433.333333  145966.666667
               Sugarloaf Township      100933.333333  101700.000000
               Whitpain Township       250166.666667  254466.666667
New York       Covert                            NaN            NaN
Michigan       Muskegon Township        58133.333333   59700.000000
Pennsylvania   Exeter Township         117166.666667  117566.666667
               Swatara Township        109166.666667  110166.666667
California     The Sea Ranch           394600.000000  410500.000000
Arizona        San Tan Valley           99333.333333  105333.333333
California     Eastvale                258766.666667  267233.333333
Connecticut    Town of Mansfield       146333.333333  150733.333333

                                              2000q3         2000q4  \
State          RegionName
New Jersey     Absecon                 118033.333333  118833.333333
Maryland       Accokeek                          NaN            NaN
Oklahoma       Ada                               NaN            NaN
Georgia        Adairsville              85100.000000   86033.333333
Tennessee      Adams                   112133.333333  113100.000000
Illinois       Addison                 172433.333333  176133.333333
South Carolina Aiken                             NaN            NaN
Michigan       Albion                   64966.666667   66533.333333
California     Alta                    153066.666667  157200.000000
Illinois       Andalusia                81433.333333   81300.000000
South Carolina Anderson                 87666.666667   90100.000000
Tennessee      Andersonville            83200.000000   88066.666667
Indiana        Angola                  113433.333333  113733.333333
Arizona        Anthem                  199566.666667  202033.333333
Florida        Anthony                  89433.333333   90233.333333
Minnesota      Apple Valley            168500.000000  172200.000000
Pennsylvania   Ardmore                 156600.000000  156800.000000
New Jersey     Asbury Park                       NaN            NaN
Massachusetts  Ashburnham              144066.666667  147400.000000
               Ashland                 252866.666667  259866.666667
Pennsylvania   Ashley                            NaN   52000.000000
California     Avalon                            NaN            NaN
               Avenal                   60966.666667   62533.333333
Colorado       Avon                    425133.333333  430700.000000
California     Bakersfield             109533.333333  111233.333333
Florida        Bal Harbour             279033.333333  304866.666667
               Baldwin                           NaN            NaN
Maryland       Baldwin                 250666.666667  252166.666667
New York       Ballston Spa             87233.333333   88300.000000
Maryland       Baltimore                58833.333333   59500.000000
...                                              ...            ...
New Jersey     Frelinghuysen Township  234566.666667  240466.666667
New York       Town of Corinth          75800.000000   77566.666667
New Hampshire  Town of Plymouth         83200.000000   82966.666667
Vermont        Derby                             NaN            NaN
Pennsylvania   Greene Township         109966.666667  114066.666667
Wisconsin      Town of Windsor         163533.333333  165166.666667
Pennsylvania   Douglass Township       116533.333333  116433.333333
New York       Westmoreland             79633.333333   80700.000000
               Town of Moravia                   NaN            NaN
               Oswegatchie                       NaN            NaN
Pennsylvania   Newport Township         57100.000000   58366.666667
               Penn Township           108300.000000  109333.333333
New York       Pamelia                  72133.333333   69166.666667
Wisconsin      Newark                  119300.000000  122366.666667
Pennsylvania   East Vincent Township   202766.666667  206366.666667
Michigan       Green Township          120600.000000  119733.333333
               Rutland Township        132466.666667  143233.333333
               Portsmouth Township      93266.666667   95933.333333
               Allendale Township      139900.000000  140400.000000
Pennsylvania   Penn Township           149600.000000  145333.333333
               Sugarloaf Township      104500.000000  107800.000000
               Whitpain Township       257700.000000  261533.333333
New York       Covert                            NaN            NaN
Michigan       Muskegon Township        61000.000000   61566.666667
Pennsylvania   Exeter Township         117866.666667  118333.333333
               Swatara Township        109766.666667  109100.000000
California     The Sea Ranch           431066.666667  448633.333333
Arizona        San Tan Valley          110066.666667  116166.666667
California     Eastvale                266933.333333  261900.000000
Connecticut    Town of Mansfield       151100.000000  153166.666667

                                              2001q1         2001q2  \
State          RegionName
New Jersey     Absecon                 121033.333333  121700.000000
Maryland       Accokeek                          NaN            NaN
Oklahoma       Ada                               NaN            NaN
Georgia        Adairsville              86466.666667   86200.000000
Tennessee      Adams                   114500.000000  115966.666667
Illinois       Addison                 179500.000000  184100.000000
South Carolina Aiken                             NaN            NaN
Michigan       Albion                   66933.333333   68566.666667
California     Alta                    166166.666667  171233.333333
Illinois       Andalusia                81766.666667   82900.000000
South Carolina Anderson                 92166.666667   92600.000000
Tennessee      Andersonville            89733.333333   89966.666667
Indiana        Angola                  116833.333333  118333.333333
Arizona        Anthem                  205400.000000  208433.333333
Florida        Anthony                  91300.000000   89900.000000
Minnesota      Apple Valley            178533.333333  183966.666667
Pennsylvania   Ardmore                 156900.000000  160400.000000
New Jersey     Asbury Park                       NaN            NaN
Massachusetts  Ashburnham              154500.000000  161133.333333
               Ashland                 274200.000000  287700.000000
Pennsylvania   Ashley                   56733.333333   57800.000000
California     Avalon                            NaN            NaN
               Avenal                   64366.666667   66066.666667
Colorado       Avon                    422000.000000  405133.333333
California     Bakersfield             113300.000000  115733.333333
Florida        Bal Harbour             304366.666667  310466.666667
               Baldwin                           NaN            NaN
Maryland       Baldwin                 254366.666667  257400.000000
New York       Ballston Spa             89400.000000   92166.666667
Maryland       Baltimore                59566.666667   60133.333333
...                                              ...            ...
New Jersey     Frelinghuysen Township  243366.666667  247333.333333
New York       Town of Corinth          79333.333333   79166.666667
New Hampshire  Town of Plymouth         83833.333333   86500.000000
Vermont        Derby                             NaN            NaN
Pennsylvania   Greene Township         114100.000000  117400.000000
Wisconsin      Town of Windsor         169266.666667  173200.000000
Pennsylvania   Douglass Township       118633.333333  121533.333333
New York       Westmoreland             81633.333333   82833.333333
               Town of Moravia                   NaN            NaN
               Oswegatchie                       NaN            NaN
Pennsylvania   Newport Township         58566.666667   61133.333333
               Penn Township           108733.333333  111333.333333
New York       Pamelia                  68933.333333   68333.333333
Wisconsin      Newark                  127166.666667  130833.333333
Pennsylvania   East Vincent Township   208933.333333  210566.666667
Michigan       Green Township          127200.000000  125800.000000
               Rutland Township        147666.666667  142133.333333
               Portsmouth Township     100166.666667  106733.333333
               Allendale Township      142000.000000  143033.333333
Pennsylvania   Penn Township           137733.333333  135066.666667
               Sugarloaf Township      109500.000000  111166.666667
               Whitpain Township       265700.000000  273300.000000
New York       Covert                            NaN            NaN
Michigan       Muskegon Township        62133.333333   62533.333333
Pennsylvania   Exeter Township         120333.333333  122600.000000
               Swatara Township        109633.333333  110900.000000
California     The Sea Ranch           457666.666667  459466.666667
Arizona        San Tan Valley          117733.333333  113633.333333
California     Eastvale                268033.333333  277433.333333
Connecticut    Town of Mansfield       155533.333333  158266.666667

                                              2001q3         2001q4  \
State          RegionName
New Jersey     Absecon                 123466.666667  125766.666667
Maryland       Accokeek                          NaN            NaN
Oklahoma       Ada                               NaN            NaN
Georgia        Adairsville              88666.666667   88733.333333
Tennessee      Adams                   115433.333333  115566.666667
Illinois       Addison                 189233.333333  192766.666667
South Carolina Aiken                             NaN            NaN
Michigan       Albion                   68600.000000   68900.000000
California     Alta                    180666.666667  189600.000000
Illinois       Andalusia                82833.333333   83300.000000
South Carolina Anderson                 92400.000000   92200.000000
Tennessee      Andersonville            88300.000000   86233.333333
Indiana        Angola                  118733.333333  119166.666667
Arizona        Anthem                  213200.000000  213900.000000
Florida        Anthony                  87000.000000   86366.666667
Minnesota      Apple Valley            189000.000000  193733.333333
Pennsylvania   Ardmore                 163466.666667  168833.333333
New Jersey     Asbury Park                       NaN            NaN
Massachusetts  Ashburnham              168800.000000  173500.000000
               Ashland                 298700.000000  305833.333333
Pennsylvania   Ashley                   53233.333333   51866.666667
California     Avalon                            NaN            NaN
               Avenal                   67366.666667   67600.000000
Colorado       Avon                    401533.333333  389733.333333
California     Bakersfield             117300.000000  119266.666667
Florida        Bal Harbour             326333.333333  348900.000000
               Baldwin                           NaN            NaN
Maryland       Baldwin                 261133.333333  270466.666667
New York       Ballston Spa             94200.000000   95266.666667
Maryland       Baltimore                62100.000000   63400.000000
...                                              ...            ...
New Jersey     Frelinghuysen Township  254433.333333  264000.000000
New York       Town of Corinth          79600.000000   79500.000000
New Hampshire  Town of Plymouth         91466.666667   95966.666667
Vermont        Derby                             NaN            NaN
Pennsylvania   Greene Township         119933.333333  123766.666667
Wisconsin      Town of Windsor         173500.000000  171933.333333
Pennsylvania   Douglass Township       124100.000000  126600.000000
New York       Westmoreland             82466.666667   81100.000000
               Town of Moravia                   NaN            NaN
               Oswegatchie                       NaN            NaN
Pennsylvania   Newport Township         63333.333333   65466.666667
               Penn Township           115166.666667  115800.000000
New York       Pamelia                  70400.000000   74000.000000
Wisconsin      Newark                  131566.666667  130533.333333
Pennsylvania   East Vincent Township   211900.000000  216966.666667
Michigan       Green Township          128933.333333  130066.666667
               Rutland Township        138000.000000  133600.000000
               Portsmouth Township     109333.333333  108166.666667
               Allendale Township      143933.333333  145300.000000
Pennsylvania   Penn Township           136200.000000  137800.000000
               Sugarloaf Township      114500.000000  117633.333333
               Whitpain Township       282933.333333  287366.666667
New York       Covert                            NaN            NaN
Michigan       Muskegon Township        62833.333333   62633.333333
Pennsylvania   Exeter Township         124233.333333  124966.666667
               Swatara Township        111466.666667  112500.000000
California     The Sea Ranch           434066.666667  427866.666667
Arizona        San Tan Valley          111966.666667  112566.666667
California     Eastvale                283933.333333  279566.666667
Connecticut    Town of Mansfield       160933.333333  166300.000000

                                              2002q1         2002q2  \
State          RegionName
New Jersey     Absecon                 128433.333333  134933.333333
Maryland       Accokeek                          NaN            NaN
Oklahoma       Ada                               NaN            NaN
Georgia        Adairsville              92166.666667   94766.666667
Tennessee      Adams                   117500.000000  118733.333333
Illinois       Addison                 196200.000000  199900.000000
South Carolina Aiken                             NaN            NaN
Michigan       Albion                   70366.666667   71366.666667
California     Alta                    193033.333333  197200.000000
Illinois       Andalusia                84366.666667   84766.666667
South Carolina Anderson                 93033.333333   92966.666667
Tennessee      Andersonville            86666.666667   88733.333333
Indiana        Angola                  119933.333333  119866.666667
Arizona        Anthem                  214466.666667  218833.333333
Florida        Anthony                  87466.666667   88833.333333
Minnesota      Apple Valley            198033.333333  202600.000000
Pennsylvania   Ardmore                 172333.333333  178566.666667
New Jersey     Asbury Park                       NaN            NaN
Massachusetts  Ashburnham              185466.666667  191566.666667
               Ashland                 303000.000000  307633.333333
Pennsylvania   Ashley                   48466.666667   49100.000000
California     Avalon                            NaN            NaN
               Avenal                   68866.666667   69566.666667
Colorado       Avon                    381933.333333  388000.000000
California     Bakersfield             122100.000000  124800.000000
Florida        Bal Harbour             360600.000000  379333.333333
               Baldwin                           NaN            NaN
Maryland       Baldwin                 279066.666667  286833.333333
New York       Ballston Spa             98266.666667   99500.000000
Maryland       Baltimore                63666.666667   64900.000000
...                                              ...            ...
New Jersey     Frelinghuysen Township  271433.333333  276066.666667
New York       Town of Corinth          80600.000000   81566.666667
New Hampshire  Town of Plymouth        101400.000000  106533.333333
Vermont        Derby                             NaN            NaN
Pennsylvania   Greene Township         127800.000000  128500.000000
Wisconsin      Town of Windsor         173300.000000  175266.666667
Pennsylvania   Douglass Township       128033.333333  129766.666667
New York       Westmoreland             81333.333333   82866.666667
               Town of Moravia                   NaN            NaN
               Oswegatchie                       NaN            NaN
Pennsylvania   Newport Township         68866.666667   69133.333333

In [11]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    start = get_recession_start()
    bottom = get_recession_bottom()
    UTowns_df = get_list_of_university_towns()
    quart_df = convert_housing_data_to_quarters()
    
    quart_df['De-Gr'] = quart_df[start] - quart_df[bottom]
    
    UTowns_df['Check'] = 'Yes'
    quart_df = pd.merge(quart_df, UTowns_df, how = 'left', left_index=True, right_on=['State', 'RegionName'])
    quart_df['Check'] = quart_df['Check'].replace(np.nan, 'No')
    quart_df['De-Gr'] = quart_df['De-Gr'].fillna('...')
    quart_df = quart_df[quart_df['De-Gr'] != '...']
    Yes = quart_df[quart_df['Check'] == 'Yes']
    No = quart_df[quart_df['Check'] == 'No']
    ttest = ttest_ind(Yes['De-Gr'], No['De-Gr'])[1] 
    
    if ttest < 0.01:
        different = True
    else:
        different = False
    
    if Yes['De-Gr'].mean() < No['De-Gr'].mean():
        better = "university town"
    else:
        better = "non-university town"
    
    return (different , ttest, better)
run_ttest()

(True, 0.0043252148535114473, 'university town')